name: Ruby

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.2
          bundler-cache: true
      - name: Run linter
        run: bundle exec rubocop
      # - name: Run ruby critic
      #   run: bundle exec rake rubycritic
      - name: Run spec
        run: bundle exec rspec
